.search__notes {
  border: black solid 1.5px;
  margin: 8px 0px;
  align-items: center;
}

.search__notes:hover {
  cursor: pointer;
}

.notes {
  display: flex;
  flex-direction: column;
  white-space: pre;
  border-radius: 5px;
  padding: 1% 1% 1% 1%;
  margin: 10px 10px;
  overflow: hidden;
  word-wrap: inherit;
  min-width: 340px;
  max-width: 650px;
  width: 450px;
  box-shadow: 0px 0px 3px 1px gray;
  background-color: blanchedalmond;
}

.notes:hover {
  box-shadow: 0px 0px 3px 2px rgb(110, 110, 110);
  cursor: pointer;
}

.note-title {
  font-weight: bold;
  display: flex;
  word-wrap: break-all;
  white-space: initial;
  margin: 8px 8px;
  font-size: 1.3em;
}

.note-language {
  font-size: 0.75em;
}

.note-language-em {
  font-weight: bold;
}

.note-description {
  margin: 10px 15px;
  white-space: pre-wrap;
}

.content {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
