.selected_note {
  white-space: pre-wrap;
  border: darkgrey solid 1.5px;
  border-radius: 5px;
  padding: 10px 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0px 0px 2px black;
  background-color: blanchedalmond;
}

.postUser {
  color: rgb(110, 189, 216);
}

.postUser:hover {
  color: rgb(69, 151, 179);
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.note-flex {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

.edit-button {
  float: right;
}

.more-replies {
  color: rgb(110, 189, 216);
}

.more-replies:hover {
  cursor: pointer;
  color: rgb(82, 153, 177);
}

.all-commenters {
  height: 100spx;
  width: 100px;
}

.all-note-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}

.fas {
  background-color: rgb(221, 221, 221);
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
  color: rgb(240, 68, 68);
}

.fas:hover {
  cursor: pointer;
  color: rgb(240, 68, 68);
  box-shadow: 0px 0px 2px black;
}

.fa-heart {
  background-color: rgb(221, 221, 221);
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
  color: rgb(240, 68, 68);
  float: right;
}

.fa-heart:hover {
  cursor: pointer;
  color: rgb(240, 68, 68);
}

#comment {
  background-color: rgb(240, 238, 238);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(102, 101, 101);
}

.add-comments-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0px;
}

.add-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.add-comments textarea {
  /* width: 60%; */
  flex-shrink: unset;
  max-width: 600px;
  min-width: 250px;
  padding: 10px 10px;
}

.add-comments button {
  width: 80px;
  align-self: flex-end;
  margin-bottom: 7px;
}

.add-to-collection {
  display: flex;
  justify-content: center;
}

.add-to-collection select {
  width: 120px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
}

.add-to-collection select:hover {
  width: 120px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px black;
  cursor: pointer;
}
.add-to-collection buton {
  width: 120px;
}
