.selected_note {
  /* word-wrap: break-word; */
  overflow-block: auto;
  /* overflow-wrap: normal; */
  white-space: pre;
  border: black solid 1.5px;
  margin: 15px 0px;
  overflow: auto;
}

.bold {
  font-weight: bold;
}
